# Environnements Python
.venv/
venv/
# Mac
.DS_Store
# VS Code
.vscode/
# Checkpoints de notebooks
*.ipynb_checkpoints/
# Cache Python
__pycache__/
# données locale volumineuses à copier depuis le drive
data/local_data/
# Fichiers latex temporaires
*.aux
*.toc
*.out
*.lof
*.log
